apiVersion: v1
kind: PersistentVolumeClaim
metadata:
 name: pvc-prometheus-non-dynamic-storage
spec:
 accessModes:
  - ReadWriteOnce
 resources:
   requests:
     storage: 3Gi
 storageClassName: prometheus-non-dynamic-storage-class